.HomePage{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    align-items: end;

    border-bottom: black solid 1px;
}

.image{
    width: 50%;
    min-width: 410px;
    min-height: 700px;
    height: 100%;

    background-position: top;
    background-size: cover;
    z-index: 2;
}


.textBlock{
    min-width: 240px;
    text-align: center;
    max-width: 50%;
    font-size: 15px;
    font-weight: normal;
    color: #000000;
    font-style: normal;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;

    max-height: 100%;

}


@media (max-width: 1250px) {
    .textBlock{
        min-width: 80%;

    }
}

@media (max-width: 500px) {
    .image{
        min-width: 100%;
        min-height: 100vh;
    }
    .textBlock{
        min-width: 100%;

    }
}