.Main {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    background: #a8d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockContainer {
    width: 100%;
    top: 60px;

    border: solid #83e30d 2px;
}

@media (max-width: 900px) {
    .Main{
        width: 100%;
    }
}



@media (max-width: 400px) {
    .Main{
        width: 100%;
    }
}






