.Header {
    height: 100px;
    background:#d9d3c8;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    position: relative;
    top: 0;
    border-bottom: black solid 1px;
}


.burgerIcon{
display: none;
}


@media (max-width: 760px) {
    .Header{
        height: 40px;
        position: relative;
        flex-direction: row;
        justify-content: end;
    }
    .burgerIcon{
        display: block;
    }
}