.App {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}
body{
    background: #d9d3c8;

}
p{
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    font-style: normal;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;

}

.burgerIconContainer{
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    z-index: 999 !important;
}

